<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="module" defer src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <div class="header">
        <h1>Pi Kappa Phi - Weekly Calendar</h1>
    </div>

    <div class="container">
        <div class="calendar-container">
            {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
            <div class="day-card">
                <div class="day-header">
                    <h2>{{ day }}</h2>
                </div>
                {% if events[day] %}
                {% for event in events[day] %}
                <div class="event {% if event.isAllDay %}all-day-event{% endif %}">
                    <div class="event-time">{{ event.time }}</div>
                    <div>{{ event.summary }}</div>
                    <div class="event-location">{{ event.location }}</div>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-events">No events scheduled</div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="day-card">
                <div class="day-header">
                    <h2>Website</h2>
                </div>
                <img src="{{ url_for('static', filename='qr-code.png') }}" alt="Website QR Code" class="qr-code">
            </div>
        </div>
    </div>

    <div id="photo-container" class="">
        <img id="current-photo" class="fullscreen-photo" src="" alt="Cycling Photo">
    </div>
</body>

</html>
